*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

.container{
  display: flex;
  width: 600px;
  background-color: white;
  border-radius: 10px;
}

.product-image{
  width: 50%;
  height: 100%;
}

.product-image img{
  display: block;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.product-info {
  width: 50%;
  padding: 30px;
}
.product-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.product-info h1{
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 25px auto;
}

.info p:first-of-type{
  letter-spacing: 4px
}

.price{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px auto;
}

.price h1{
  color: hsl(158, 36%, 37%);
  margin: 20px 0;
}

button{
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  outline: none;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: hsl(158, 42%, 18%);
}